:root{
  /* background-image: url("./assets/Windos.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
